.header {
    margin-top: 9vw;
    margin-bottom: 4vw;
}

.header_info {
    display: flex;
    justify-content: space-between;
}

.header_left {
    display: flex;
    gap: 1vw;
    place-items: center;
}

.hr {
    border: 0.5px solid rgb(0, 0, 0);
    margin-top: 1vw;
}

.info {
    display: flex;
    gap: 1vw;
    place-items: center;
}

.percent_indicator {
    font-size: 1.1vw;
}

.arith_logo {
    width: 7vw;
}

.arith_logo_mobile {
    width: 20vw;
}

.info_icon {
    width: 2vw;
}

.info_icon_mobile {
    width: 6vw;
}

.hr_mobile {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 1vw;
}