.header {
    margin-top: 9vw;
    margin-bottom: 4vw;
}

.header_info {
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.hr {
    border: 0.5px solid rgb(0, 0, 0);
    margin-top: 1vw;
}

.hr_mobile {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 3vw;
}

.arith_logo {
    width: 10vw;
}

.arith_logo_mobile {
    width: 25vw;
}

.info_icon {
    width: 2vw;
}

.info_icon_mobile {
    width: 6vw;
}